<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tz.order.dao.SellerInfoMapper">
  <resultMap id="BaseResultMap" type="com.tz.order.domain.SellerInfo">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="delivery_time" jdbcType="VARCHAR" property="deliveryTime" />
    <result column="score" jdbcType="DOUBLE" property="score" />
    <result column="service_score" jdbcType="DOUBLE" property="serviceScore" />
    <result column="food_score" jdbcType="DOUBLE" property="foodScore" />
    <result column="rank_rate" jdbcType="DOUBLE" property="rankRate" />
    <result column="min_price" jdbcType="DOUBLE" property="minPrice" />
    <result column="delivery_price" jdbcType="DOUBLE" property="deliveryPrice" />
    <result column="rating_count" jdbcType="INTEGER" property="ratingCount" />
    <result column="sell_count" jdbcType="INTEGER" property="sellCount" />
    <result column="bulletin" jdbcType="VARCHAR" property="bulletin" />
    <result column="supports" jdbcType="VARCHAR" property="supports" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="pics" jdbcType="VARCHAR" property="pics" />
    <result column="infos" jdbcType="VARCHAR" property="infos" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, desc, delivery_time, score, service_score, food_score, rank_rate, min_price, 
    delivery_price, rating_count, sell_count, bulletin, supports, avatar, pics, infos
  </sql>
  <select id="selectByExample" parameterType="com.tz.order.domain.SellerInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from seller_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.tz.order.domain.SellerInfoExample">
    delete from seller_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tz.order.domain.SellerInfo">
    insert into seller_info (id, name, desc, 
      delivery_time, score, service_score, 
      food_score, rank_rate, min_price, 
      delivery_price, rating_count, sell_count, 
      bulletin, supports, avatar, 
      pics, infos)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}, 
      #{deliveryTime,jdbcType=VARCHAR}, #{score,jdbcType=DOUBLE}, #{serviceScore,jdbcType=DOUBLE}, 
      #{foodScore,jdbcType=DOUBLE}, #{rankRate,jdbcType=DOUBLE}, #{minPrice,jdbcType=DOUBLE}, 
      #{deliveryPrice,jdbcType=DOUBLE}, #{ratingCount,jdbcType=INTEGER}, #{sellCount,jdbcType=INTEGER}, 
      #{bulletin,jdbcType=VARCHAR}, #{supports,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, 
      #{pics,jdbcType=VARCHAR}, #{infos,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tz.order.domain.SellerInfo">
    insert into seller_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="desc != null">
        desc,
      </if>
      <if test="deliveryTime != null">
        delivery_time,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="serviceScore != null">
        service_score,
      </if>
      <if test="foodScore != null">
        food_score,
      </if>
      <if test="rankRate != null">
        rank_rate,
      </if>
      <if test="minPrice != null">
        min_price,
      </if>
      <if test="deliveryPrice != null">
        delivery_price,
      </if>
      <if test="ratingCount != null">
        rating_count,
      </if>
      <if test="sellCount != null">
        sell_count,
      </if>
      <if test="bulletin != null">
        bulletin,
      </if>
      <if test="supports != null">
        supports,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="pics != null">
        pics,
      </if>
      <if test="infos != null">
        infos,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null">
        #{deliveryTime,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=DOUBLE},
      </if>
      <if test="serviceScore != null">
        #{serviceScore,jdbcType=DOUBLE},
      </if>
      <if test="foodScore != null">
        #{foodScore,jdbcType=DOUBLE},
      </if>
      <if test="rankRate != null">
        #{rankRate,jdbcType=DOUBLE},
      </if>
      <if test="minPrice != null">
        #{minPrice,jdbcType=DOUBLE},
      </if>
      <if test="deliveryPrice != null">
        #{deliveryPrice,jdbcType=DOUBLE},
      </if>
      <if test="ratingCount != null">
        #{ratingCount,jdbcType=INTEGER},
      </if>
      <if test="sellCount != null">
        #{sellCount,jdbcType=INTEGER},
      </if>
      <if test="bulletin != null">
        #{bulletin,jdbcType=VARCHAR},
      </if>
      <if test="supports != null">
        #{supports,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="pics != null">
        #{pics,jdbcType=VARCHAR},
      </if>
      <if test="infos != null">
        #{infos,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tz.order.domain.SellerInfoExample" resultType="java.lang.Integer">
    select count(*) from seller_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update seller_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.desc != null">
        desc = #{record.desc,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryTime != null">
        delivery_time = #{record.deliveryTime,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null">
        score = #{record.score,jdbcType=DOUBLE},
      </if>
      <if test="record.serviceScore != null">
        service_score = #{record.serviceScore,jdbcType=DOUBLE},
      </if>
      <if test="record.foodScore != null">
        food_score = #{record.foodScore,jdbcType=DOUBLE},
      </if>
      <if test="record.rankRate != null">
        rank_rate = #{record.rankRate,jdbcType=DOUBLE},
      </if>
      <if test="record.minPrice != null">
        min_price = #{record.minPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.deliveryPrice != null">
        delivery_price = #{record.deliveryPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.ratingCount != null">
        rating_count = #{record.ratingCount,jdbcType=INTEGER},
      </if>
      <if test="record.sellCount != null">
        sell_count = #{record.sellCount,jdbcType=INTEGER},
      </if>
      <if test="record.bulletin != null">
        bulletin = #{record.bulletin,jdbcType=VARCHAR},
      </if>
      <if test="record.supports != null">
        supports = #{record.supports,jdbcType=VARCHAR},
      </if>
      <if test="record.avatar != null">
        avatar = #{record.avatar,jdbcType=VARCHAR},
      </if>
      <if test="record.pics != null">
        pics = #{record.pics,jdbcType=VARCHAR},
      </if>
      <if test="record.infos != null">
        infos = #{record.infos,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update seller_info
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      desc = #{record.desc,jdbcType=VARCHAR},
      delivery_time = #{record.deliveryTime,jdbcType=VARCHAR},
      score = #{record.score,jdbcType=DOUBLE},
      service_score = #{record.serviceScore,jdbcType=DOUBLE},
      food_score = #{record.foodScore,jdbcType=DOUBLE},
      rank_rate = #{record.rankRate,jdbcType=DOUBLE},
      min_price = #{record.minPrice,jdbcType=DOUBLE},
      delivery_price = #{record.deliveryPrice,jdbcType=DOUBLE},
      rating_count = #{record.ratingCount,jdbcType=INTEGER},
      sell_count = #{record.sellCount,jdbcType=INTEGER},
      bulletin = #{record.bulletin,jdbcType=VARCHAR},
      supports = #{record.supports,jdbcType=VARCHAR},
      avatar = #{record.avatar,jdbcType=VARCHAR},
      pics = #{record.pics,jdbcType=VARCHAR},
      infos = #{record.infos,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <resultMap id="BaseResultMap" type="com.tz.order.domain.SellerInfo">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="delivery_time" jdbcType="VARCHAR" property="deliveryTime" />
    <result column="score" jdbcType="DOUBLE" property="score" />
    <result column="service_score" jdbcType="DOUBLE" property="serviceScore" />
    <result column="food_score" jdbcType="DOUBLE" property="foodScore" />
    <result column="rank_rate" jdbcType="DOUBLE" property="rankRate" />
    <result column="min_price" jdbcType="DOUBLE" property="minPrice" />
    <result column="delivery_price" jdbcType="DOUBLE" property="deliveryPrice" />
    <result column="rating_count" jdbcType="INTEGER" property="ratingCount" />
    <result column="sell_count" jdbcType="INTEGER" property="sellCount" />
    <result column="bulletin" jdbcType="VARCHAR" property="bulletin" />
    <result column="supports" jdbcType="VARCHAR" property="supports" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="pics" jdbcType="VARCHAR" property="pics" />
    <result column="infos" jdbcType="VARCHAR" property="infos" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, desc, delivery_time, score, service_score, food_score, rank_rate, min_price, 
    delivery_price, rating_count, sell_count, bulletin, supports, avatar, pics, infos
  </sql>
  <select id="selectByExample" parameterType="com.tz.order.domain.SellerInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from seller_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.tz.order.domain.SellerInfoExample">
    delete from seller_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tz.order.domain.SellerInfo">
    insert into seller_info (id, name, desc, 
      delivery_time, score, service_score, 
      food_score, rank_rate, min_price, 
      delivery_price, rating_count, sell_count, 
      bulletin, supports, avatar, 
      pics, infos)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}, 
      #{deliveryTime,jdbcType=VARCHAR}, #{score,jdbcType=DOUBLE}, #{serviceScore,jdbcType=DOUBLE}, 
      #{foodScore,jdbcType=DOUBLE}, #{rankRate,jdbcType=DOUBLE}, #{minPrice,jdbcType=DOUBLE}, 
      #{deliveryPrice,jdbcType=DOUBLE}, #{ratingCount,jdbcType=INTEGER}, #{sellCount,jdbcType=INTEGER}, 
      #{bulletin,jdbcType=VARCHAR}, #{supports,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, 
      #{pics,jdbcType=VARCHAR}, #{infos,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tz.order.domain.SellerInfo">
    insert into seller_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="desc != null">
        desc,
      </if>
      <if test="deliveryTime != null">
        delivery_time,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="serviceScore != null">
        service_score,
      </if>
      <if test="foodScore != null">
        food_score,
      </if>
      <if test="rankRate != null">
        rank_rate,
      </if>
      <if test="minPrice != null">
        min_price,
      </if>
      <if test="deliveryPrice != null">
        delivery_price,
      </if>
      <if test="ratingCount != null">
        rating_count,
      </if>
      <if test="sellCount != null">
        sell_count,
      </if>
      <if test="bulletin != null">
        bulletin,
      </if>
      <if test="supports != null">
        supports,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="pics != null">
        pics,
      </if>
      <if test="infos != null">
        infos,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null">
        #{deliveryTime,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=DOUBLE},
      </if>
      <if test="serviceScore != null">
        #{serviceScore,jdbcType=DOUBLE},
      </if>
      <if test="foodScore != null">
        #{foodScore,jdbcType=DOUBLE},
      </if>
      <if test="rankRate != null">
        #{rankRate,jdbcType=DOUBLE},
      </if>
      <if test="minPrice != null">
        #{minPrice,jdbcType=DOUBLE},
      </if>
      <if test="deliveryPrice != null">
        #{deliveryPrice,jdbcType=DOUBLE},
      </if>
      <if test="ratingCount != null">
        #{ratingCount,jdbcType=INTEGER},
      </if>
      <if test="sellCount != null">
        #{sellCount,jdbcType=INTEGER},
      </if>
      <if test="bulletin != null">
        #{bulletin,jdbcType=VARCHAR},
      </if>
      <if test="supports != null">
        #{supports,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="pics != null">
        #{pics,jdbcType=VARCHAR},
      </if>
      <if test="infos != null">
        #{infos,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tz.order.domain.SellerInfoExample" resultType="java.lang.Integer">
    select count(*) from seller_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update seller_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.desc != null">
        desc = #{record.desc,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryTime != null">
        delivery_time = #{record.deliveryTime,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null">
        score = #{record.score,jdbcType=DOUBLE},
      </if>
      <if test="record.serviceScore != null">
        service_score = #{record.serviceScore,jdbcType=DOUBLE},
      </if>
      <if test="record.foodScore != null">
        food_score = #{record.foodScore,jdbcType=DOUBLE},
      </if>
      <if test="record.rankRate != null">
        rank_rate = #{record.rankRate,jdbcType=DOUBLE},
      </if>
      <if test="record.minPrice != null">
        min_price = #{record.minPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.deliveryPrice != null">
        delivery_price = #{record.deliveryPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.ratingCount != null">
        rating_count = #{record.ratingCount,jdbcType=INTEGER},
      </if>
      <if test="record.sellCount != null">
        sell_count = #{record.sellCount,jdbcType=INTEGER},
      </if>
      <if test="record.bulletin != null">
        bulletin = #{record.bulletin,jdbcType=VARCHAR},
      </if>
      <if test="record.supports != null">
        supports = #{record.supports,jdbcType=VARCHAR},
      </if>
      <if test="record.avatar != null">
        avatar = #{record.avatar,jdbcType=VARCHAR},
      </if>
      <if test="record.pics != null">
        pics = #{record.pics,jdbcType=VARCHAR},
      </if>
      <if test="record.infos != null">
        infos = #{record.infos,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update seller_info
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      desc = #{record.desc,jdbcType=VARCHAR},
      delivery_time = #{record.deliveryTime,jdbcType=VARCHAR},
      score = #{record.score,jdbcType=DOUBLE},
      service_score = #{record.serviceScore,jdbcType=DOUBLE},
      food_score = #{record.foodScore,jdbcType=DOUBLE},
      rank_rate = #{record.rankRate,jdbcType=DOUBLE},
      min_price = #{record.minPrice,jdbcType=DOUBLE},
      delivery_price = #{record.deliveryPrice,jdbcType=DOUBLE},
      rating_count = #{record.ratingCount,jdbcType=INTEGER},
      sell_count = #{record.sellCount,jdbcType=INTEGER},
      bulletin = #{record.bulletin,jdbcType=VARCHAR},
      supports = #{record.supports,jdbcType=VARCHAR},
      avatar = #{record.avatar,jdbcType=VARCHAR},
      pics = #{record.pics,jdbcType=VARCHAR},
      infos = #{record.infos,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <resultMap id="BaseResultMap" type="com.tz.order.domain.SellerInfo">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="delivery_time" jdbcType="VARCHAR" property="deliveryTime" />
    <result column="score" jdbcType="DOUBLE" property="score" />
    <result column="service_score" jdbcType="DOUBLE" property="serviceScore" />
    <result column="food_score" jdbcType="DOUBLE" property="foodScore" />
    <result column="rank_rate" jdbcType="DOUBLE" property="rankRate" />
    <result column="min_price" jdbcType="DOUBLE" property="minPrice" />
    <result column="delivery_price" jdbcType="DOUBLE" property="deliveryPrice" />
    <result column="rating_count" jdbcType="INTEGER" property="ratingCount" />
    <result column="sell_count" jdbcType="INTEGER" property="sellCount" />
    <result column="bulletin" jdbcType="VARCHAR" property="bulletin" />
    <result column="supports" jdbcType="VARCHAR" property="supports" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="pics" jdbcType="VARCHAR" property="pics" />
    <result column="infos" jdbcType="VARCHAR" property="infos" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, desc, delivery_time, score, service_score, food_score, rank_rate, min_price, 
    delivery_price, rating_count, sell_count, bulletin, supports, avatar, pics, infos
  </sql>
  <select id="selectByExample" parameterType="com.tz.order.domain.SellerInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from seller_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.tz.order.domain.SellerInfoExample">
    delete from seller_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tz.order.domain.SellerInfo">
    insert into seller_info (id, name, desc, 
      delivery_time, score, service_score, 
      food_score, rank_rate, min_price, 
      delivery_price, rating_count, sell_count, 
      bulletin, supports, avatar, 
      pics, infos)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}, 
      #{deliveryTime,jdbcType=VARCHAR}, #{score,jdbcType=DOUBLE}, #{serviceScore,jdbcType=DOUBLE}, 
      #{foodScore,jdbcType=DOUBLE}, #{rankRate,jdbcType=DOUBLE}, #{minPrice,jdbcType=DOUBLE}, 
      #{deliveryPrice,jdbcType=DOUBLE}, #{ratingCount,jdbcType=INTEGER}, #{sellCount,jdbcType=INTEGER}, 
      #{bulletin,jdbcType=VARCHAR}, #{supports,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, 
      #{pics,jdbcType=VARCHAR}, #{infos,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tz.order.domain.SellerInfo">
    insert into seller_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="desc != null">
        desc,
      </if>
      <if test="deliveryTime != null">
        delivery_time,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="serviceScore != null">
        service_score,
      </if>
      <if test="foodScore != null">
        food_score,
      </if>
      <if test="rankRate != null">
        rank_rate,
      </if>
      <if test="minPrice != null">
        min_price,
      </if>
      <if test="deliveryPrice != null">
        delivery_price,
      </if>
      <if test="ratingCount != null">
        rating_count,
      </if>
      <if test="sellCount != null">
        sell_count,
      </if>
      <if test="bulletin != null">
        bulletin,
      </if>
      <if test="supports != null">
        supports,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="pics != null">
        pics,
      </if>
      <if test="infos != null">
        infos,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null">
        #{deliveryTime,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=DOUBLE},
      </if>
      <if test="serviceScore != null">
        #{serviceScore,jdbcType=DOUBLE},
      </if>
      <if test="foodScore != null">
        #{foodScore,jdbcType=DOUBLE},
      </if>
      <if test="rankRate != null">
        #{rankRate,jdbcType=DOUBLE},
      </if>
      <if test="minPrice != null">
        #{minPrice,jdbcType=DOUBLE},
      </if>
      <if test="deliveryPrice != null">
        #{deliveryPrice,jdbcType=DOUBLE},
      </if>
      <if test="ratingCount != null">
        #{ratingCount,jdbcType=INTEGER},
      </if>
      <if test="sellCount != null">
        #{sellCount,jdbcType=INTEGER},
      </if>
      <if test="bulletin != null">
        #{bulletin,jdbcType=VARCHAR},
      </if>
      <if test="supports != null">
        #{supports,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="pics != null">
        #{pics,jdbcType=VARCHAR},
      </if>
      <if test="infos != null">
        #{infos,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tz.order.domain.SellerInfoExample" resultType="java.lang.Integer">
    select count(*) from seller_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update seller_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.desc != null">
        desc = #{record.desc,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryTime != null">
        delivery_time = #{record.deliveryTime,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null">
        score = #{record.score,jdbcType=DOUBLE},
      </if>
      <if test="record.serviceScore != null">
        service_score = #{record.serviceScore,jdbcType=DOUBLE},
      </if>
      <if test="record.foodScore != null">
        food_score = #{record.foodScore,jdbcType=DOUBLE},
      </if>
      <if test="record.rankRate != null">
        rank_rate = #{record.rankRate,jdbcType=DOUBLE},
      </if>
      <if test="record.minPrice != null">
        min_price = #{record.minPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.deliveryPrice != null">
        delivery_price = #{record.deliveryPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.ratingCount != null">
        rating_count = #{record.ratingCount,jdbcType=INTEGER},
      </if>
      <if test="record.sellCount != null">
        sell_count = #{record.sellCount,jdbcType=INTEGER},
      </if>
      <if test="record.bulletin != null">
        bulletin = #{record.bulletin,jdbcType=VARCHAR},
      </if>
      <if test="record.supports != null">
        supports = #{record.supports,jdbcType=VARCHAR},
      </if>
      <if test="record.avatar != null">
        avatar = #{record.avatar,jdbcType=VARCHAR},
      </if>
      <if test="record.pics != null">
        pics = #{record.pics,jdbcType=VARCHAR},
      </if>
      <if test="record.infos != null">
        infos = #{record.infos,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update seller_info
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      desc = #{record.desc,jdbcType=VARCHAR},
      delivery_time = #{record.deliveryTime,jdbcType=VARCHAR},
      score = #{record.score,jdbcType=DOUBLE},
      service_score = #{record.serviceScore,jdbcType=DOUBLE},
      food_score = #{record.foodScore,jdbcType=DOUBLE},
      rank_rate = #{record.rankRate,jdbcType=DOUBLE},
      min_price = #{record.minPrice,jdbcType=DOUBLE},
      delivery_price = #{record.deliveryPrice,jdbcType=DOUBLE},
      rating_count = #{record.ratingCount,jdbcType=INTEGER},
      sell_count = #{record.sellCount,jdbcType=INTEGER},
      bulletin = #{record.bulletin,jdbcType=VARCHAR},
      supports = #{record.supports,jdbcType=VARCHAR},
      avatar = #{record.avatar,jdbcType=VARCHAR},
      pics = #{record.pics,jdbcType=VARCHAR},
      infos = #{record.infos,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <resultMap id="BaseResultMap" type="com.tz.order.domain.SellerInfo">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="delivery_time" jdbcType="VARCHAR" property="deliveryTime" />
    <result column="score" jdbcType="DOUBLE" property="score" />
    <result column="service_score" jdbcType="DOUBLE" property="serviceScore" />
    <result column="food_score" jdbcType="DOUBLE" property="foodScore" />
    <result column="rank_rate" jdbcType="DOUBLE" property="rankRate" />
    <result column="min_price" jdbcType="DOUBLE" property="minPrice" />
    <result column="delivery_price" jdbcType="DOUBLE" property="deliveryPrice" />
    <result column="rating_count" jdbcType="INTEGER" property="ratingCount" />
    <result column="sell_count" jdbcType="INTEGER" property="sellCount" />
    <result column="bulletin" jdbcType="VARCHAR" property="bulletin" />
    <result column="supports" jdbcType="VARCHAR" property="supports" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="pics" jdbcType="VARCHAR" property="pics" />
    <result column="infos" jdbcType="VARCHAR" property="infos" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, desc, delivery_time, score, service_score, food_score, rank_rate, min_price, 
    delivery_price, rating_count, sell_count, bulletin, supports, avatar, pics, infos
  </sql>
  <select id="selectByExample" parameterType="com.tz.order.domain.SellerInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from seller_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.tz.order.domain.SellerInfoExample">
    delete from seller_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tz.order.domain.SellerInfo">
    insert into seller_info (id, name, desc, 
      delivery_time, score, service_score, 
      food_score, rank_rate, min_price, 
      delivery_price, rating_count, sell_count, 
      bulletin, supports, avatar, 
      pics, infos)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}, 
      #{deliveryTime,jdbcType=VARCHAR}, #{score,jdbcType=DOUBLE}, #{serviceScore,jdbcType=DOUBLE}, 
      #{foodScore,jdbcType=DOUBLE}, #{rankRate,jdbcType=DOUBLE}, #{minPrice,jdbcType=DOUBLE}, 
      #{deliveryPrice,jdbcType=DOUBLE}, #{ratingCount,jdbcType=INTEGER}, #{sellCount,jdbcType=INTEGER}, 
      #{bulletin,jdbcType=VARCHAR}, #{supports,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, 
      #{pics,jdbcType=VARCHAR}, #{infos,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tz.order.domain.SellerInfo">
    insert into seller_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="desc != null">
        desc,
      </if>
      <if test="deliveryTime != null">
        delivery_time,
      </if>
      <if test="score != null">
        score,
      </if>
      <if test="serviceScore != null">
        service_score,
      </if>
      <if test="foodScore != null">
        food_score,
      </if>
      <if test="rankRate != null">
        rank_rate,
      </if>
      <if test="minPrice != null">
        min_price,
      </if>
      <if test="deliveryPrice != null">
        delivery_price,
      </if>
      <if test="ratingCount != null">
        rating_count,
      </if>
      <if test="sellCount != null">
        sell_count,
      </if>
      <if test="bulletin != null">
        bulletin,
      </if>
      <if test="supports != null">
        supports,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="pics != null">
        pics,
      </if>
      <if test="infos != null">
        infos,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="deliveryTime != null">
        #{deliveryTime,jdbcType=VARCHAR},
      </if>
      <if test="score != null">
        #{score,jdbcType=DOUBLE},
      </if>
      <if test="serviceScore != null">
        #{serviceScore,jdbcType=DOUBLE},
      </if>
      <if test="foodScore != null">
        #{foodScore,jdbcType=DOUBLE},
      </if>
      <if test="rankRate != null">
        #{rankRate,jdbcType=DOUBLE},
      </if>
      <if test="minPrice != null">
        #{minPrice,jdbcType=DOUBLE},
      </if>
      <if test="deliveryPrice != null">
        #{deliveryPrice,jdbcType=DOUBLE},
      </if>
      <if test="ratingCount != null">
        #{ratingCount,jdbcType=INTEGER},
      </if>
      <if test="sellCount != null">
        #{sellCount,jdbcType=INTEGER},
      </if>
      <if test="bulletin != null">
        #{bulletin,jdbcType=VARCHAR},
      </if>
      <if test="supports != null">
        #{supports,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="pics != null">
        #{pics,jdbcType=VARCHAR},
      </if>
      <if test="infos != null">
        #{infos,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tz.order.domain.SellerInfoExample" resultType="java.lang.Integer">
    select count(*) from seller_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update seller_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.desc != null">
        desc = #{record.desc,jdbcType=VARCHAR},
      </if>
      <if test="record.deliveryTime != null">
        delivery_time = #{record.deliveryTime,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null">
        score = #{record.score,jdbcType=DOUBLE},
      </if>
      <if test="record.serviceScore != null">
        service_score = #{record.serviceScore,jdbcType=DOUBLE},
      </if>
      <if test="record.foodScore != null">
        food_score = #{record.foodScore,jdbcType=DOUBLE},
      </if>
      <if test="record.rankRate != null">
        rank_rate = #{record.rankRate,jdbcType=DOUBLE},
      </if>
      <if test="record.minPrice != null">
        min_price = #{record.minPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.deliveryPrice != null">
        delivery_price = #{record.deliveryPrice,jdbcType=DOUBLE},
      </if>
      <if test="record.ratingCount != null">
        rating_count = #{record.ratingCount,jdbcType=INTEGER},
      </if>
      <if test="record.sellCount != null">
        sell_count = #{record.sellCount,jdbcType=INTEGER},
      </if>
      <if test="record.bulletin != null">
        bulletin = #{record.bulletin,jdbcType=VARCHAR},
      </if>
      <if test="record.supports != null">
        supports = #{record.supports,jdbcType=VARCHAR},
      </if>
      <if test="record.avatar != null">
        avatar = #{record.avatar,jdbcType=VARCHAR},
      </if>
      <if test="record.pics != null">
        pics = #{record.pics,jdbcType=VARCHAR},
      </if>
      <if test="record.infos != null">
        infos = #{record.infos,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update seller_info
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      desc = #{record.desc,jdbcType=VARCHAR},
      delivery_time = #{record.deliveryTime,jdbcType=VARCHAR},
      score = #{record.score,jdbcType=DOUBLE},
      service_score = #{record.serviceScore,jdbcType=DOUBLE},
      food_score = #{record.foodScore,jdbcType=DOUBLE},
      rank_rate = #{record.rankRate,jdbcType=DOUBLE},
      min_price = #{record.minPrice,jdbcType=DOUBLE},
      delivery_price = #{record.deliveryPrice,jdbcType=DOUBLE},
      rating_count = #{record.ratingCount,jdbcType=INTEGER},
      sell_count = #{record.sellCount,jdbcType=INTEGER},
      bulletin = #{record.bulletin,jdbcType=VARCHAR},
      supports = #{record.supports,jdbcType=VARCHAR},
      avatar = #{record.avatar,jdbcType=VARCHAR},
      pics = #{record.pics,jdbcType=VARCHAR},
      infos = #{record.infos,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>